@using System.Linq;
@using LesGamblers.Models;
@model LesGamblers.Web.Models.Gamblers.ListGamblersViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="text-center">
    <h2 id="viewTitle">Check out everyone's predictions</h2>
</div>

<br />

<div class="form-horizontal">
    <div class="form-group">
        @Html.LabelFor(model => model.AllGamblers, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">            
            @Html.DropDownList("Gambler", Model.AllGamblers, " - Choose Gambler - ", new { @class = "col-md-2 form-control", id = "gamblersDropdown" })
            @Html.ValidationMessageFor(model => model.AllGamblers, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.AllGames, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">            
            @Html.DropDownList("Game", Model.AllGames, " - Choose Game - ", new { @class = "col-md-2 form-control", id = "gamesDropdown" })
            @Html.ValidationMessageFor(model => model.AllGames, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-1 col-md-10">
            <input id="btnCheckPrediction" type="submit" value="Add Prediction" class="btn btn-danger" />
        </div>
    </div>

    <div id="predictionDetails">
        <div class="text-center">
            <img src="http://bestanimations.com/Sports/Soccer/animated-soccer-balls5.gif" id="LoadingImage" hidden="hidden" />
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/predictions/checkAllPredictions.js"></script>
}
