@using System.Linq;
@using LesGamblers.Models;
@model LesGamblers.Web.Models.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AllGames.FirstOrDefault().Date)
            </th>
            <th class="text-center">
                <label>Game</label>
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AllGames.FirstOrDefault().FinalResult)
            </th>
            @{
                var gamblers = new List<string>();
                foreach (var gambler in Model.AllGamblers)
                {
                    gamblers.Add(gambler.Id);
                    <th class="text-center">
                        @Html.DisplayName(gambler.FirstName + " " + gambler.LastName)
                    </th>
                }
            }
        </tr>

        <tr>
            @{
                foreach (var game in Model.AllGames)
                {
                    foreach (var gambler in Model.AllGamblers)
                    {
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => game.Date)
                        </td>
                        <td class="text-center">
                            @{ var teams = game.HostTeam + " " + game.GuestTeam; }
                            <span>@teams</span>
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => game.FinalResult)
                        </td>

                                var pred = game.Predictions.Where(x => x.GameId == game.Id && x.Gambler.Id == gambler.Id).FirstOrDefault();
                            <td class="text-center">
                                @{ var result = pred.FinalResult + ", " + pred.Goalscorer; }
                                <span>@result</span>
                            </td>
                    }
                }
            }
        </tr>
    </table>
</div>

<div class="row">

</div>