@model LesGamblers.Web.Models.Games.UpdateFinishedGameViewModel

@{
    ViewBag.Title = "UpdateFinishedGame";
}

<br />
<br />
<div class="text-center">
    <h2 id="viewTitle">Update Game</h2>
</div>
<br />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id, Model.Games, " - Choose Game - ", new { @class = "col-md-2 form-control", id = "gameDropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinalResult, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalResult, new { htmlAttributes = new { @class = "form-control", placeholder = "(use ' : ', ' - ' or space to separate the numbers)" } })
                @Html.ValidationMessageFor(model => model.FinalResult, "", new { @class = "text-danger field-validation-valid" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a id="btnChooseGoalscorer" href="#chooseGoalscorer" class="btn btn-info" data-toggle="" disabled="disabled">Proceed to Goalscorer</a>
            </div>
        </div>

        <div id="chooseGoalscorer" class="collapse">
            <div class="form-group">
                <label id="hostTeam" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.DropDownList("Goalscorer", new List<SelectListItem>(), " - Choose Goalscorer - ", new { @class = "col-md-2 form-control", id = "hostPlayersDropdown" })
                </div>
            </div>
            <div class="form-group">
                <label id="guestTeam" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.DropDownList("Goalscorer", new List<SelectListItem>(), " - Choose Goalscorer - ", new { @class = "col-md-2 form-control", id = "guestPlayersDropdown" })
                </div>
            </div>

            <div class="form-group" hidden="hidden">
                @Html.LabelFor(model => model.Goalscorers, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10" id="hidden-scorers">
                    @Html.TextAreaFor(model => model.Goalscorers, 4, 55, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
            </div>

            <div id="all-goalscorers" class="col-md-offset-2 col-md-3">

            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
                <input type="button" value="Delete Last" class="btn btn-danger" />
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/common/dropdowns.js"></script>
    <script src="~/Scripts/games/updateGame.js"></script>
}
