@model LesGamblers.Web.Models.Predictions.AddPredictionViewModel

<h2 id="viewTitle">Add your predictions</h2>

@using (Html.BeginForm("AddPrediction", "Predictions", FormMethod.Post, new { @class = "form-horizontal", role = "form", enctype = "multipart/form-data" })) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.GameId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.GameId, Model.Games, " - Choose Game - ", new { @class = "col-md-2 form-control", id = "gameDropdown" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FinalResult, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FinalResult, new { htmlAttributes = new { @class = "form-control", placeholder = "(use ' : ', ' - ' or space to separate the numbers)" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <a id="btnChooseGoalscorer" href="#chooseGoalscorer" class="btn btn-info" data-toggle="" disabled="disabled">Proceed to Goalscorer</a>
            </div>
        </div>

        <div id="chooseGoalscorer" class="collapse">
            <div class="form-group">
                <label id="hostTeam" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.DropDownList("GoalscorerHost", new List<SelectListItem>(), " - Choose Goalscorer - ", new { @class = "col-md-2 form-control", id = "hostPlayersDropdown" })
                </div>
            </div>
            <div class="form-group">
                <label id="guestTeam" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    @Html.DropDownList("GoalscorerGuest", new List<SelectListItem>(), " - Choose Goalscorer - ", new { @class = "col-md-2 form-control", id = "guestPlayersDropdown" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Goalscorer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Goalscorer, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly", id = "goalscorer" } })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-1 col-md-10">
                <input type="submit" value="Add Prediction" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @*@Html.ActionLink("Back to List", "Index")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/common/dropdowns.js"></script>
}
